<% provide(:title, "Home") %>

<main class="row">
  <section class="posts col-xs-12 col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <nav>
          <div class="btn-group">
            <button class="to-recent btn <%= params[:filtered] ? "btn-default" : "btn-primary" %>">Recent Posts</button>
            <button class="to-filtered btn <%= params[:filtered] ? "btn-primary" : "btn-default" %>">Selected Posts</button>
            <a href="/posts" class="btn btn-default">All posts</a>
          </div>
          <a href="/posts/new" class="btn btn-success">New Post</a>
        </nav>
      </div>
      <div class="panel-body">
        <%= render "posts/cards", posts: @posts %>
        <%= will_paginate @posts %>
      </div>
    </div>
  </section>
  
  <div class="col-xs-12 col-md-4">
    <%= render "shared/side" %>
  </div>
</main>
