<% provide :title, "Setting" %>
<% provide(:button_text, 'Save changes') %>

<div class="row">
    <nav class="panel panel-default col-xs-12 col-sm-2">
        <div class="panel-body">
            <a href="/users/<%= @user.id %>" class="row">My Profile</a>
            <a href="/posts/by/<%= @user.id %>" class="row">My Posts</a>
            <a href="/comments/by/<%= @user.id %>" class="row">My Comments</a>
            <a href="/comments/to/<%= @user.id %>" class="row">Comments to Me</a>
            <a href="/setting" class="row">Setting</a>
        </div>
    </nav>
    <div class="col-xs-12 col-sm-10">
        <nav class="btn-group">
            <button id="personal-info-btn" class="btn btn-default">Personal Info</button>
            <button id="password-btn" class="btn btn-default">Password</button>
            <button id="gravatar-setting-btn" class="btn btn-default">Gravatar</button>
            <button id="verification-btn" class="btn btn-default">Verification</button>
        </nav>
        <section id="personal-info-tab" class="panel panel-primary">
            <div class="panel-heading">Personal Info</div>
            <div class="panel-body">
                <%= render "users/form", hide_password: true %>
            </div>
        </section>
        <section id="password-tab" class="panel panel-primary">
            <div class="panel-heading">Password</div>
            <div class="panel-body">
                <%= form_for @user do |f| %>
                    <%= f.label :password %>
                    <%= f.password_field :password, class: 'form-control' %>
                
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, class: 'form-control' %>

                    <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
                <% end %>
            </div>
        </section>
        <section id="gravatar-setting-tab" class="panel panel-primary">
            <div class="panel-heading">Gravatar</div>
            <div class="panel-body">
                <div class="gravatar_edit">
                    <%= gravatar_for @user%>
                    <a href="http://gravatar.com/emails" target="_blank">Change</a>
                </div>
            </div>
        </section>
        <section id="verification-tab" class="panel panel-primary">
            <div class="panel-heading">Verification</div>
            <div class="panel-body">
                <%= form_for @verification do |f| %>
                    <%= f.label :type, "Type of card" %>
                    <%= f.text_field :card_type, class: 'form-control' %>

                    <%= f.label :num, "Card number" %>
                    <%= f.text_field :card_num, class: 'form-control' %>

                    <%= f.label :image, "Image, no larger than 2MB" %>
                    <%= f.file_field :image %>
                    <%= image_tag @verification.image, height: 300 if @verification.image.attached? %>

                    <%= f.submit "Submit", class: 'btn btn-primary' %>
                <% end %>
            </div>
        </section>
    </div>
</div>
