<div class="center jumbotron time-card">
    <div class="row">
        <div class="col-xs-8">
            <h1><%= city.name %></h1>
            <% diff = city.offset - City.find_by(name: 'Melbourne').offset %>
            <h3><%= sprintf("%+d", diff) %>h</h3>
        </div>
        <div class="col-xs-4">
            <%= form_with model: city, html: {style: "float: right", class: "d-none"} do |form| %>
                <%= form.hidden_field :toggled, value: false %>
                <%= form.submit "X" %>
            <% end %>
            <% hour = (Time.now.getutc + city.offset.hours).strftime("%H").to_i %>
            <h1 class="format-24 d-none"><%= (Time.now.getutc + city.offset.hours).strftime("%H:%m") %></h1>
            <h1 class="format-12"><%= (Time.now.getutc + city.offset.hours).strftime("%I:%m %p") %></h1>
            <h3>
                <% server_hour = (Time.now.getutc + City.find_by(name: 'Melbourne').offset.hours).strftime("%H").to_i %>
                <%=
                    server_hour + diff < 0 ? "Yesterday" :
                    server_hour + diff >= 24 ? "Tomorrow" :
                    "Today"
                %>
                <%= 
                    hour.between?(9, 17) ? glyphicon("usd", "") :
                    hour.between?(18, 19) ? glyphicon("time", "") :
                    hour==8 || hour.between?(20, 22) ? glyphicon("user", "") :
                    glyphicon("eye-close", "")
                %>
            </h3>
        </div>
    </div>
</div>